org.wso2.carbon.eventsimulator.stub/src/main/resources/EventSimulatorAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://admin.eventsimulator.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2122="http://admin.eventsimulator.carbon.wso2.org/xsd" targetNamespace="http://admin.eventsimulator.carbon.wso2.org">
    <wsdl:documentation>EventSimulatorAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.eventsimulator.carbon.wso2.org/xsd">
            <xs:complexType name="EventStreamInfoDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationAttributes" nillable="true" type="ax2122:EventStreamAttributeDto"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaAttributes" nillable="true" type="ax2122:EventStreamAttributeDto"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadAttributes" nillable="true" type="ax2122:EventStreamAttributeDto"></xs:element>
                    <xs:element minOccurs="0" name="streamDefinition" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="streamDescription" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="streamName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="streamVersion" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventStreamAttributeDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="attributeType" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2123="http://admin.eventsimulator.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.eventsimulator.carbon.wso2.org">
            <xs:import namespace="http://admin.eventsimulator.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="getAllEventStreamInfoDto">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamInfoDtoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2123:EventStreamInfoDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllEventStreamInfoDtoRequest">
        <wsdl:part name="parameters" element="ns:getAllEventStreamInfoDto"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllEventStreamInfoDtoResponse">
        <wsdl:part name="parameters" element="ns:getAllEventStreamInfoDtoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EventSimulatorAdminServicePortType">
        <wsdl:operation name="getAllEventStreamInfoDto">
            <wsdl:input message="ns:getAllEventStreamInfoDtoRequest" wsaw:Action="urn:getAllEventStreamInfoDto"></wsdl:input>
            <wsdl:output message="ns:getAllEventStreamInfoDtoResponse" wsaw:Action="urn:getAllEventStreamInfoDtoResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventSimulatorAdminServiceSoap11Binding" type="ns:EventSimulatorAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <soap:operation soapAction="urn:getAllEventStreamInfoDto" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventSimulatorAdminServiceSoap12Binding" type="ns:EventSimulatorAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <soap12:operation soapAction="urn:getAllEventStreamInfoDto" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventSimulatorAdminServiceHttpBinding" type="ns:EventSimulatorAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <http:operation location="getAllEventStreamInfoDto"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventSimulatorAdminService">
        <wsdl:port name="EventSimulatorAdminServiceHttpsSoap11Endpoint" binding="ns:EventSimulatorAdminServiceSoap11Binding">
            <soap:address location="https://10.100.4.53:9443/services/EventSimulatorAdminService.EventSimulatorAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EventSimulatorAdminServiceHttpsSoap12Endpoint" binding="ns:EventSimulatorAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.4.53:9443/services/EventSimulatorAdminService.EventSimulatorAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EventSimulatorAdminServiceHttpsEndpoint" binding="ns:EventSimulatorAdminServiceHttpBinding">
            <http:address location="https://10.100.4.53:9443/services/EventSimulatorAdminService.EventSimulatorAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>